---
layout: compress
---
<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>
    
<header id="header">
  <img src="assets/images/{{ site.logo }}" alt="Logo {{ site.title }}" />
	<h1>{{ site.title }}</h1>
	<p>Kompleksowa obsługa samochodów. <a href="https://www.perfectcar-tczew.pl/mechanika-samochodowa/"> Mechanika samochodowa</a>, diagnostyka i serwis. Myjnia ręczna, kosmetyka samochodowa. Tczew, ul. Rokicka 17,  tel.: <a href="tel:+48731548948">731 548 948</a>.</p>
</header>


{% include footer.html %}

</body>
</html>